*{
    margin: 0;
    padding: 0;
    
}
.background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(150.04132947318067deg, rgba(224, 251, 255,1) 34.1318124207858%,rgba(223, 250, 254,1) 34.1318124207858%,rgba(77, 165, 219,1) 88.88466413181241%);
    background-size: cover;
    background-position: center;
}
.bar
{
   
    width: 80%;
    padding: 15;
    margin: 55px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo
{
    width: 120%;
    position: relative;
    cursor: pointer;
}
#lg
{
    width: 25%;
    position: relative;
    align-items: flex-end;
}
.bar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

#pr
{
    width: 30%;
    padding: 30;
    height: 40vh;
    text-align: left;
    text-decoration: solid;

}
#ft
{
  
    width: fit-content;
    text-align: center;
    text-decoration: rgb(6, 6, 43);
}
